.home{
    display: flex ;
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4vw;
    flex-direction: row;
    padding: 0 10vw;
    height: 100vh;
    
  }
  .ImageCon{
    display: flex;
    
   
    justify-content: center;
    align-items: center;
    height:fit-content;
    
   
    
  }
  .image{
    width: 100%;
    
    
  }
  .TextCon{
    display: flex;
    
    justify-content:flex-end;
    align-items: center;
    /* width: 50%; */
    gap: 5vh;
    
    
  }
  .insidecon{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    
    
  }

  .Buttonone{
    background: #000;
    color: #fff;
    padding: 1vh 2vw;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 5px;
    width:200px;
    display: flex;
    justify-content: center;
  }