.Container{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    
}
.Navbar{
    display: flex;
    height: 10vh;
   margin-top: 5vh;
    width:90%;
    flex-wrap: wrap;

    justify-content: space-between;
    
}

.scorecounter{
    display: flex;
    flex-direction: column;
    gap: 30px;
   
    margin-top: 20px;
}
.scorevalue{
    font-size: 2rem;
}
.scoretext{
    font-size: 1.5rem;
    font-weight: 700;
}
.Dicebuttons{
    display: flex;
    flex-direction:column;
    gap: 20px;
    flex-wrap: wrap;
    
}
.buttonContainers{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.CheckText{
    font-size: 1.5rem;
    font-weight: 700;
    color:black;

}
.CheckTextRed {
    color: red;
}

.Dicebutton {
    height: 70px;
    width: 70px;
    background: #fff;
    color: #000;
    font-size: 1.1rem;
    font-weight: 700;
    border: 2px solid #000;
}

.Dicebutton.selected {
    background: #000;
    color: #fff;
}

.Dicecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
   
    width: 100%;
    gap: 20px;
   
}
@media screen and (max-width:780px) {
    .Dicecontainer{
        
        margin-top: 40vh;
       
        
       
    }
    .CheckText{
        margin-top: 5vh;
    }
    .Diceimg{
        width: 150px;
        height: 150px;
    }
    
}
.ActionButtons{
    
    display: flex;
    flex-direction: column  ;
    gap: 2vh;
}

.Actionbutton{
    padding: 1vh 2vw;
    background: #fff;
    border-radius:5px;
    border: 1.5px solid #000;

    outline: none;
    font-size: 1.2rem;
    font-weight: 700;

}

.BlackButton{
    background: #000;
    color: #fff;
}
