.Container{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    
}
Nav{
    display: flex;
    height: 10vh;
   
    width: 90%;
    flex-wrap: wrap;

    justify-content: space-between;
}
.scorecounter{
    display: flex;
    flex-direction: column;
    gap: 30px;
   
    margin-top: 20px;
}
.scorevalue{
    font-size: 2rem;
}
.scoretext{
    font-size: 1.5rem;
    font-weight: 700;
}
.Dicebuttons{
    display: flex;
    flex-direction:column;
    gap: 20px;
    
}
.buttonContainers{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.CheckText{
    font-size: 1.5rem;
    font-weight: 700;
}
/* .Dicebutton{
    height: 70px;
    width: 70px;
    background: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    border:2px solid #000;

} */
.Dicebutton {
    height: 70px;
    width: 70px;
    background: #fff;
    color: #000;
    font-size: 1.1rem;
    font-weight: 700;
    border: 2px solid #000;
}

.Dicebutton.selected {
    background: #000;
    color: #fff;
}

.Dicecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    gap: 20px;
}
.ActionButtons{
    
    display: flex;
    flex-direction: column  ;
    gap: 2vh;
}

.Actionbutton{
    padding: 1vh 2vw;
    background: #fff;
    border-radius:5px;
    border: 1.5px solid #000;

    outline: none;
    font-size: 1.2rem;
    font-weight: 700;

}

.BlackButton{
    background: #000;
    color: #fff;
}
